{% extends "base.html" %}

{% block title %}Scholar Analytics{% endblock %}

{% block content %}
<section id="content">
    <div align="center">
        <label for="author_name">Author Name:</label>
        <input type="text" id="author_name" name="author_name" autocomplete="off" required>
        <button type="button" id="findAuthorButton" onclick="findAuthor()">Find Author</button>
        <button type="button" id="analyzeAuthorButton" onclick="analyzeAuthor()" disabled>Analyze Author</button>
        <div class="autocomplete-dropdown" id="autocomplete-dropdown"></div>
    </div>
</section>
{% endblock %}


{% block scripts %}
    <script>
        const authorInput = document.getElementById("author_name");
        const analyzeAuthorButton = document.getElementById("analyzeAuthorButton");
        const dropdown = document.getElementById('autocomplete-dropdown');
    
        function findAuthor() {
            const authorName = authorInput.value.trim();
            const findAuthorButton = document.getElementById('findAuthorButton');
        
            if (authorName) {
                analyzeAuthorButton.disabled = true;
                findAuthorButton.disabled = true;
                findAuthorButton.textContent = 'Searching...'; // Indicate a busy state
        
                fetch(`/get_similar_authors?author_name=${encodeURIComponent(authorName)}`)
                    .then(response => response.json())
                    .then(data => {
                                // Clear previous results
                                dropdown.innerHTML = '';
                                let authors = Array.isArray(data) ? data : [data]; // Ensure data is an array
                                authors.forEach(author => {
                                    let div = createAuthorOption(author);
                                    dropdown.appendChild(div);
                                });
                                dropdown.style.display = authors.length > 0 ? 'block' : 'none';
                    }).catch(error => {
                        console.error('Error:', error);
                    }).finally(() => {
                        findAuthorButton.disabled = false;
                        findAuthorButton.textContent = 'Find Author'; // Reset button state
                        analyzeAuthorButton.disabled = false;
                    });
            }
        }
    
        function createAuthorOption(author) {
            let div = document.createElement('div');
            div.className = 'author-option';
            div.textContent = `${author.name} (ID: ${author.scholar_id}, Affiliation: ${author.affiliation})`;
            div.onclick = function() {
                authorInput.value = author.name;
                dropdown.style.display = 'none';
                analyzeAuthorButton.disabled = false;
                analyzeAuthorButton.dataset.scholarId = author.scholar_id; // Store the Scholar ID
            };
            return div;
        }
    
        function analyzeAuthor() {
            const scholarId = analyzeAuthorButton.dataset.scholarId; // Retrieve the Scholar ID
            if (scholarId) {
                analyzeAuthorButton.disabled = true
                window.location.href = `/results?author_id=${encodeURIComponent(scholarId)}`;
            }
        }
    </script>
{% endblock %}

