{% extends "base.html" %}

{% block title %}{{ pub.get('bib', {}).get('title', 'Publication Statistics') }} -- Scholar Analytics{% endblock %}

{% block content %}
<div class="container mt-4">
    <section class="publication-stats">
        <h2>{{ pub.get('bib', {}).get('title', 'N/A') }}</h2>
        <h3>Authors: {{ pub.get('bib', {}).get('author', 'N/A') }}</h3>
        <p><strong>Publication year:</strong> {{ pub.get('bib', {}).get('pub_year') }}</p>
        <p><strong>Citation data last modified:</strong> {{ pub.get('last_modified', 'N/A').strftime('%Y-%m-%d %H:%M') }}</p>
        <table id="plots">
            <tbody>
            <tr>
                <td><img class="plot" src="{{ citations_plot }}" alt="Paper percentiles vs paper rank"></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Citation Year</th>
                    <th>Age</th>
                    <th>Yearly Citations</th>
                    <th>Cumulative Citations</th>
                    <th>Percentile<br>Yearly Citations</th>
                    <th>Percentile<br>Cumulative Citations</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in pub.get('stats', []) %}
                <tr>
                    <td>{{ stat.citation_year }}</td>
                    <td>{{ stat.age }}</td>
                    <td>{{ stat.yearly_citations }}</td>
                    <td>{{ stat.cumulative_citations }}</td>
                    <td>{{ (100*stat.perc_yearly_citations)|round(2) }}%</td>
                    <td>{{ (100*stat.perc_cumulative_citations)|round(2) }}%</td>
                </tr>
                {% else %}
                <tr><td colspan="6">No statistics available.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}
